<suite thread-count="1" name="tests" allow-return-values="true"
	parallel="instances" verbose="1">
	<listeners>
		<listener class-name="com.base.utils.listeners.TestNgListeners" />
		<listener class-name="com.base.utils.reporting.ExtentReporterNG" />
		<!-- <listener class-name="com.oneframe.listeners.CustomReporter" /> -->
	</listeners>

	<test name="Test ConnectSecure Application">
		<classes>
			 <class name="com.connectsecure.test.ui.connectsecure.TestLogInPage" />
			     <class name="com.connectsecure.test.ui.connectsecure.TestGenralSettingsPage" />
			     <class name="com.connectsecure.test.ui.connectsecure.TestCreateCompanyPage" />
			     <class name="com.connectsecure.test.ui.connectsecure.TestGlobalSettingsPage" /> 
			     <class name="com.connectsecure.test.ui.connectsecure.TestTagRulePage" />
		</classes>


	<!-- /<packages>
			<package name="com.connectsecure.test.ui.connectsecure.*"/>
		</packages> -->

	</test>
</suite>
